# Environment variables
.env

# Virtual environments
venv/
.venv/
myenv/

# Python cache
__pycache__/
*.py[cod]

# Build artifacts
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db